.no-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;

  .no-data-text {
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.58px;
    text-align: center;
    color: #1d1d1d;
  }

  .no-data-description {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #818181;
    margin-top: 32px;
    width: 50%;
    margin-bottom: 20px;
  }
}
