@import "../../Constant/DesainToken.module.scss";

.customize-size-sm .ant-progress-inner .ant-progress-bg{
    height: 8px !important;
}

.customize-size-md .ant-progress-inner .ant-progress-bg{
    height: 12px !important;
}

.customize-size-lg .ant-progress-inner .ant-progress-bg{
    height: 16px !important;
}

.no-value-percent .ant-progress-text{
    display: none !important;
}

.no-value-percent .ant-progress-text{
    display: none !important;
}

.no-value-percent .ant-progress-text{
    display: none !important;
}
