:root {
    --main-color: black;
}

@import "../../Constant/DesainToken.module.scss";

.custom-card .ant-card{
    border-radius: 8px;
}

.custom-card .ant-card .ant-card-body{
    padding: 24px ;
}

.custom-card .title-card{
    @include fontBodyMedium;
    font-weight: 700;
}

.custom-card .title-card-data{
    @include fontBodySmall;
    color: #818181;
    text-align: left;
}

.custom-card .desc-card-data{
    @include fontCaptionLarge;
    text-align: left;
    display: inline-flex;
    background-color: #DADCDE;
    padding: 2px 10px;
    margin : 5px 0px;
    border-radius: 6px;
}